html {
	font-family: sans-serif;
}

code {
	font-family: monospace, sans-serif;
}

input, button {
	margin: 1em 0.5em;
	display: block;
	width: 100%;
	font-size: inherit;
}
button {
	line-height: 2;
	background: blue;
	color: white;
	font-weight: bold;
}

section {
	margin: 2em 0.5em;
	max-width: 50em;
}